{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<div class="container">
    <h1 class="text-center">News Aggregator</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
        <form class="search-form form-horizontal" action="{% url 'index' %}" method="post">
        {% csrf_token %}
            <label>Keywords: </label>
            <input type="text" class="form-input" name="keywords" placeholder="Type some keywords here" value=""/>
            <input type="submit" value="Fetch" class="btn btn-primary"/>

        </form>
    </div>


    {% if list_news %}
        {% if is_list %}
            {% for news in list_news %}
                <div class="contents">
                    <div class="title">
                        <a href="{{ news.2 }}">{{ news.0 }}</a>
                    </div>
                    <div class="news-content">{{ news.1 | safe }}</div>
                    <span class="news-date">Date: {{ news.3 }}</span>
                    <a class="related-news-btn btn btn-primary" href="{% url 'related_news' news.5 %}" >Related news</a>

                </div>
            {% endfor %}
        {% else %}
            {% for id, news in list_news.items %}
                <div class="contents">
                    <div class="title">
                        <a href="{{ news.2 }}">{{ news.0 }}</a>
                    </div>
                    <div class="news-content">{{ news.1 | safe }}</div>
                    <span class="news-date">Date: {{ news.3 }}</span>
                    <a class="related-news-btn btn btn-primary" href="{% url 'related_news' id %}" >Related news</a>

                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No news are available.</p>
    {% endif %}

</div>